<h2>Inscription</h2>

<div>

  <div class="form-grp">
    <input type="text" placeholder="Nom" [(ngModel)]="nom"/>
    <label *ngIf="!regEx1.test(nom)" class="incorrect-field">Champ invalide</label>
  </div>

  <div class="form-grp">
    <input type="text" placeholder="Prénom" [(ngModel)]="prenom"/>
    <label *ngIf="!regEx1.test(prenom)" class="incorrect-field">Champ invalide</label>
  </div>

  <div class="form-grp">
    <input type="text" placeholder="Adresse email" [(ngModel)]="email"/>
    <label *ngIf="!regEx1.test(prenom)" class="incorrect-field">Champ invalide</label>
  </div>

  <div class="form-grp">
    <input placeholder="Adresse" [(ngModel)]="adresse"/>
    <label *ngIf="!regEx2.test(adresse)" class="incorrect-field">Champ invalide</label>
  </div>

  <div class="form-grp">
    <input type="number" placeholder="Code postal" [(ngModel)]="codePostal"/>
    <label *ngIf="!regEx3.test(codePostal)" class="incorrect-field">Champ invalide</label>
  </div>

  <div class="form-grp">
    <input type="text" placeholder="Ville" [(ngModel)]="ville"/>
    <label *ngIf="!regEx1.test(ville)" class="incorrect-field">Champ invalide</label>
  </div>

  <div class="form-grp">
    <input type="password" placeholder="Mot de passe" [(ngModel)]="password" />
    <label *ngIf="!regEx2.test(password)" class="incorrect-field">Champ invalide</label>
  </div>

  <div class="form-grp">
    <input type="password" placeholder="Mot de passe" [(ngModel)]="passwordConf" />
    <label *ngIf="passwordConf!=password||!regEx2.test(passwordConf)" class="incorrect-field">Champ invalide</label>
  </div>

  <button [disabled]="!regEx1.test(prenom)&&!regEx1.test(nom)&&!regEx2.test(adresse)&&!regEx3.test(codePostal)&&!regEx1.test(ville)&&!regEx2.test(password)&&passwordConf!=password||!regEx2.test(passwordConf)">Enregistrer</button>

</div>
